# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
*.sqlite3

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.packages
.pub-cache/
.pub/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store

# doc
*.log
doc